* {
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

.parent {
    background-color: #D6D6D6;
    height: 400px;
    margin: 2rem 25rem 2rem 25rem;
    border-radius: 1rem;
    position: relative;
}

.child {
    background-color: #280570;
    left: 0;
    top: 0;
    color: white;
    width: 60px;
    text-align: center;
}

.main__parent {
    align-items: center;
    height: 700px;
    position: relative;
}

.parent2 {
    position: absolute;
    left: 410px;
}

a {
    text-decoration: none;
    padding: 15px 250px;
    border-radius: 7px;
    background-color: #A259FF;
    color: white;
    margin: 1rem 0;
}

p {
    margin: 1rem 6rem 2rem 0;
    padding-right: 18rem;
}