* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p:nth-child(4) {
    background-color: aqua;
}


a:visited {
    color: blue;
}

a:hover {
    color: orange;
}

a:active {
    color: rebeccapurple;
}

a:focus {
    color: green;
}

div>p {
    background-color: yellow;
    margin: 10pxgit ;
}